*.mod
*.o
ocean.x

jlmfft.f
elsdch.f
cinv.f
sphsetnx.h.f90
sphsetx.h.f90
sphsetx.h.f90
getabb.f90
getomega.f90
gamfcn.f90
limel.f90
jimel.f90
nbsemkcmel.f90
intval.f90
newgetylm.f90
newgetprefs.f90
newthreey.f90
cainmhsetup.f90
invdrv.f90
sizereport.f90

