# Change these settings for your install

# Fortran compiler
FC = ifort
MPIFORT = mpif90

# Flags for the fortran compiler
OPTIONS = -O2 

# Currently the bse solver needs MPI and BLAS
OPTIONS += -DBLAS -DMPI

# We have some preprocessor macros using the "c-style"
OPTIONS += -cpp 

# Many compilers have flush. We use it sometimes to force output before crashes
# OPTIONS += -DHAVE_FLUSH

# Linear algebra libraries
BLAS = -lmkl_intel_lp64 -lmkl_sequential -lmkl_core

# FFTW path. Several programs can use FFTW. Find it at fftw.org. 
#  (There is a fallback fft so FFTW is not required)
OPTIONS += -D__FFTW3
FFTWI = -I/path/to/fftw/include/
FFTWL = -L/path/to/fftw/lib/ -lfftw3

# Install Directory. 
INSTDIR = /path/to/ocean/install


# OCEAN can use either ABINIT or QE. 
# If you only want one then leave the other's varables commented out

#######################
# ABINIT Flags 
# This says where abinit and cut3d live 
#   (cut3d is a post-processing tool available as part of the abinit toolset)
ABINIT_DIR = /path/to/abinit/install
ABINIT_EXE = $(ABINIT_DIR)/abinit
CUT3D_EXE  = $(ABINIT_DIR)/cut3d
#######################


#######################
# ESPRESSO Flags
ESPRESSO_DIR = /path/to/espresso
PW_EXE = $(ESPRESSO_DIR)/bin/pw.x
PP_EXE = $(ESPRESSO_DIR)/bin/pp.x
#######################


#######################
# OBF Flags
# Only set these if you have the OBF extension. 
# The version of QE above does not have to match the version
#   that the OBFs are built against
# OBF_DIR = $(ESPRESSO_DIR)
OBF_PW_EXE = $(OBF_DIR)/bin/pw.x
OBF_PP_EXE = $(OBF_DIR)/bin/pp.x
#######################

