# Change these settings for your install

# Fortran compiler
FC = ifort
MPIFORT = mpif90

# Flags for the fortran compiler
OPTIONS = -O2 

# FFTW path. Several programs can use FFTW. Find it at fftw.org. 
#  (There is a fallback fft so FFTW is not required)
OPTIONS += -D__FFTW3
FFTWI = -I/path/to/fftw/include/
FFTWL = -L/path/to/fftw/lib/ -lfftw3

# Install Directory. 
INSTDIR = /path/to/ocean/install


# OCEAN can use either ABINIT or QE. 
# If you only want one then leave the other's varables commented out

#######################
# ABINIT Flags 
# This says where abinit and cut3d live 
#   (cut3d is a post-processing tool available as part of the abinit toolset)
ABINIT_DIR = /path/to/abinit/install
ABINIT_EXE = $(ABINIT_DIR)/abinit
CUT3D_EXE  = $(ABINIT_DIR)/cut3d
#######################

#######################
# ESPRESSO Flags
ESPRESSO_DIR = /path/to/espresso
PW_EXE = $(ESPRESSO_DIR)/bin/pw.x
PP_EXE = $(ESPRESSO_DIR)/bin/pp.x

#### Select your QE version here
# Some API and directories have changed over QE releases. 
# Hence the -D__QE5.1 option for recent QE 
#		(which must *not* be defined for older versions)

#### QE 5.1 
QEXML = $(ESPRESSO_DIR)/Modules/qexml.o
QEMOD = $(ESPRESSO_DIR)/Modules/
OPTIONS += -D__QE51

#### QE 5.0
#QEXML = $(ESPRESSO_DIR)/PP/src/qexml.o
#QEMOD = $(ESPRESSO_DIR)/PP/src

#### QE 4.3
#QEXML = $(ESPRESSO_DIR)/PP/qexml.o
#QEMOD = $(ESPRESSO_DIR)/PP/

#######################


#######################
# OBF Flags
# Only set these if you have the OBF extension. 
# The version of QE above does not have to match the version
#   that the OBFs are built against
# OBF_DIR = $(ESPRESSO_DIR)
OBF_PW_EXE = $(OBF_DIR)/bin/pw.x
OBF_PP_EXE = $(OBF_DIR)/bin/pp.x
#######################

